---
import Hr from "./Hr.astro";
// import Socials from "./Socials.astro";
import { Image } from "astro:assets";
import pageViewIcon from "../assets/PageView.svg";
import userViewIcon from "../assets/UserView.svg";

const currentYear = new Date().getFullYear();

export interface Props {
  noMarginTop?: boolean;
}

const { noMarginTop = false } = Astro.props;
---

<footer class={`${noMarginTop ? "" : "mt-auto"}`}>
  <Hr noPadding />
  <div class="footer-wrapper">
    <div>
      <span id="busuanzi_container_site_pv">
        <Image class="icon-tabler" src={pageViewIcon} alt="page-view" />
        <span id="busuanzi_value_site_pv"></span>
      </span>
      <span id="busuanzi_container_site_uv">
        <Image class="icon-tabler" src={userViewIcon} alt="user-view" />
        <span id="busuanzi_value_site_uv"></span>
      </span>
    </div>
    <!-- <Socials centered /> -->
    <div class="copyright-wrapper">
      <span>Copyright &#169; {currentYear}</span>
      <span class="separator">&nbsp;|&nbsp;</span>
      <span>All rights reserved.</span>
    </div>
  </div>
</footer>

<style>
  footer {
    @apply w-full;
  }
  .footer-wrapper {
    @apply flex flex-col items-center justify-between py-6 sm:flex-row-reverse sm:py-4;
  }
  .link-button {
    @apply my-1 p-2 hover:rotate-6;
  }
  .link-button svg {
    @apply scale-125;
  }
  .copyright-wrapper {
    @apply my-2 flex flex-col items-center whitespace-nowrap sm:flex-row;
  }
  .separator {
    @apply hidden sm:inline;
  }

  img.icon-tabler {
    @apply inline-block h-6 w-6 scale-125 fill-transparent stroke-current stroke-2 opacity-90 group-hover:fill-transparent sm:scale-110;
  }
</style>
